pipeline/CopySqlTablesToCsvFiles.json
{
	"name": "CopySqlTablesToCsvFiles",
	"properties": {
		"activities": [
			{
				"name": "LookupExportedTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookupTableDataSet",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.exportedTablesName",
								"type": "Expression"
							},
							"schemaName": {
								"value": "@pipeline().parameters.schemaName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupExportedTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupExportedTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataFromSqlTableToCsvFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().Table_Schema}.@{item().Table_Name}"
								},
								{
									"name": "Destination",
									"value": "main/@{'output'}/@{concat(item().Table_Name, '.csv')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlTableDataSet",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CsvFileDataSet",
									"type": "DatasetReference",
									"parameters": {
										"dirName": "output",
										"fileName": {
											"value": "@concat(item().Table_Name, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"exportedTablesName": {
				"type": "string"
			},
			"schemaName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}